* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  background-color: $body-color;
  padding: 0 3rem;
  font-family: sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
